.about-container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 14rem;
}

.image-column {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-column img {
  width: 100%;
  border-radius: 10px;
}

.text-column {
  flex: 0 0 75%;
}

.text-column h1 {
  font-size: 2rem;
  color: #222;
  margin-bottom: 1rem;
}

.text-column p {
  margin-bottom: 1rem;
  color: #333;
}

.text-column h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #000;
}

.text-column ul {
  padding-left: 1.5rem;
  color: #444;
}

.text-column ul li {
  margin-bottom: 0.5rem;
}

.text-column a {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 920px) and (min-width: 768px) {

  .about-container {
    margin-top: 17rem;
  }
}

@media (max-width: 768px) {
  .about-container {
  
  margin-top: 20rem;
}

  .image-column,
  .text-column {
    flex: 0 0 100%;
  }
}