body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top right, #73D6D9 10%, #B0E1FA 40%, #D7E6F0 50%, #FBF0EA 60%, #FBF0EA 80%, #CAFDBF 100%);
  
}

#body-container {
  margin: 0 auto;
  max-width: 90rem;
  margin-top: 14rem;
}

/* Quảng cáo */
.advertisement {
  display: flex;
  gap: 1rem;
  max-width: 100rem;
  margin: auto;
  background: #73c6d9;
  padding: 0.5rem;
}

.large-ad {
  flex: 2;
}

.small-ads {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.small-ads img {
  width: 32rem;
  height: 12rem;
  border-radius: 0.5rem;
  /* object-fit: fill;  */
}

.splide__track {
  height: 100%;
}

.splide__slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
}

.splide__slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.splide__pagination__page {
  background: #ccc;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 4px;
  border-radius: 50%;
  transition: background 0.3s;
}

.splide__pagination__page.is-active {
  background: #007bff;
}

/* Quảng cáo  */
/* Sản phẩm =B= */
.products {
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 1rem 0;
}

.product-item {
  flex: 1 1 calc(100% / 4 - 20px);
  max-width: calc(100% / 4 - 20px);
  border: 1px solid #282626;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}

.product-item:hover {
  transform: translateY(-0.3125rem);
}

.product-item img {
  max-width: 100%;
  height: auto;
}

.btn-item {
  padding: 1rem 2rem;
  border: 1px solid #73c6d9;
  border-radius: 1rem;
  color: #000;
  background-color: white;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  max-width: fit-content;
  margin: 0 auto;
}

.btn-item:hover {
  background-color: #73c6d9;
  color: white;
}

.old-price {
  color: #777;
  text-decoration: line-through;
  font-size: 0.75rem;
  height: 0.75rem;
}

.price {
  color: red;
  font-weight: bold;
}

/* sản phẩm =e= */

/* Tin tức =b= */
.news {
  padding: 20px;
}

.news-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 1rem 0;
}

.news-list {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

.news-list::-webkit-scrollbar {
  display: none;
}

.news-item {
  flex: 0 0 calc(100% / 3 - 20px);
  background: #fff;
  border: 1px solid #ccc;
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  text-align: left;

}

.news-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.news-content {
  padding: 10px 0;
  color: #000;
}

.news-category {
  display: inline-block;
  background: #eee;
  color: #333;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.news-item-large {
  flex: 0 0 calc(100% / 2 - 20px);
}

.news-item-large img {
  max-height: 300px;
  object-fit: cover;
}

.news-item:not(.news-item-large) img {
  max-height: 200px;
  object-fit: cover;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 0px;
}

.next-btn {
  right: 0px;
}

.prev-btn.hidden,
.next-btn.hidden {
  display: none;
}

/* Tin tức =e= */
@media (max-width: 920px) and (min-width: 768px) {
  #body-container {
    margin-top: 17rem;
  }

  .small-ads {
    display: none;
  }
}

/* Responsive */
@media (max-width: 768px) {
  #body-container {
    margin-top: 21rem;
  }

  .advertisement-container {
    flex-direction: column;
  }

  .large-ad {
    flex: unset;
    width: 100%;
  }

  .small-ads {
    display: none;
  }

  .product-item {
    flex: 1 1 100%;
    max-width: 100%;
  }


  .news-item,
  .news-item-large {
    flex: 0 0 80%;
  }
}