.login-container {
  max-width: 90rem;
  width: 100%;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 0.5rem;
  margin: 2rem auto;
  padding: 2rem;
  margin-top: 14rem;
}

.login-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #111;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.login-form label {
  display: block;
  margin: 1rem 0 0.5rem;
  font-weight: 500;
  color: #333;
  width: 10rem;
}

.login-form input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

.input-wrapper{
 display: flex;
 flex-direction: column;
 gap:2rem
}

.input-container{
  display: flex;
  flex-direction: row;
}


.forgot-password {
  display: block;
  margin-top: 1rem;
  text-align: center;
  color: #2563eb;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #555;
}

.register-link {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.95rem;
}

.register-link a {
  color: #2563eb;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

@media (max-width: 920px) and (min-width: 768px) {

  .login-container {
    margin-top: 17rem;
  }
}

/* Responsive */
@media (max-width: 760px) {
  .login-container {
    padding: 2rem 1rem;
    margin-top: 20rem;
  }
  .input-container{
    flex-direction: column;
  }
}